@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #a1c3ff;
}

.profile {
  max-width: 100%;
}
h1,
h2 {
  margin-bottom: 15px;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}
ul {
  list-style: none;
}
.navbar {
  background: #3474e6;
  color: #fff;
  height: 60px;
}
.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}
.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
.navbar a:hover {
  color: lightblue;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
}
.nav {
  display: flex;
  align-items: center;
}
li {
  margin: 5px;
}

.header {
  background-color: #5599ff;
  /* background-color: #0b0705; */
  color: white;
  min-width: 400px;
}
.header h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
}
.header img {
  max-width: 400px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boxes .container {
  display: flex;
  justify-content: space-between;
}
.box {
  flex: 1;
  background: #0a51cc;
  /* background-color: #0b0705; */

  color: #fff;
  border-radius: 10px;
  margin: 20px 10px;

  padding: 15px 20px;
}
.box:hover {
  background: rgb(43, 43, 223);
  box-shadow: 0 3px 5px rgb(43, 43, 223);
  flex: 1.5;
}
.box i {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .header .container {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
  }
  .boxes .container {
    display: block;
    text-align: center;
  }
}
.footer {
  margin: 0 auto;
  background-color: #0cafff;
  width: 100%;
  height: 200px;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sign {
  font-family: "Splash", cursive;
  padding-bottom: 20px;
  color: white;
}
.container-last {
  width: 60%;
  height: 100px;
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.education {
  width: 300px;
  height: 80px;
  background-color: #99ffff;
  border-radius: 15px;
  margin-left: 50px;
  margin-top: 50px;
  font-size: 40px;
  color: #333;
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.title1 {
  display: flex;
  justify-content: space-between;
}
.triangle1,
.triangle2,
.square {
  width: 50px;
  height: 50px;
  /* margin-right: 200px; */
}
.triangle2 {
  transform: rotate(20deg);
}
.triangle1 {
  transform: rotate(-20deg);
}
.shapes {
  align-self: center;
  margin: 0 200px 0 200px;
  width: 400px;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.square {
  align-self: end;
}
.triangle2 {
  align-self: start;
}
.fig:hover {
  transform: rotate(40deg);
}
.education:hover {
  flex-grow: 0.6;
  box-shadow: 0 3px 5px #333;
}
p {
  font-family: "Gentium Book Plus", serif;
  font-size: 18px;
}
